5930_JMrevised.json
{
  "name": "5930 - revised",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "87d8ef97-3fd6-4697-9670-afd0810e6f95",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        1424
      ],
      "id": "9e4b5fb4-54c3-434c-85e0-c9db3163d074",
      "name": "Email Entry1",
      "webhookId": "87d8ef97-3fd6-4697-9670-afd0810e6f95"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        1408
      ],
      "id": "842211bf-a9b2-466a-ae48-a5efa26e215e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c8460a5-8de0-4b74-9768-d05ed1af0b2e",
              "leftValue": "={{ $('organization1').item.json.risk_level }}",
              "rightValue": "LOW",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1440
      ],
      "id": "482954b2-2505-4aae-8fed-89e58bf54424",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\nconst item = $input.item;\n\n// Ollama output comes in as a STREAM string.\n// Example:\n// {\"model\":\"...\",\"response\":\"LOW\"}{\"model\":\"...\",\"response\":\"...\"}\nconst dataStr = String(item.json.data || '').trim();\n\n// Look for EXACT match of LOW, MEDIUM, or HIGH (case-insensitive)\nconst match = dataStr.match(/\\b(LOW|MEDIUM|HIGH)\\b/i);\n\nlet rawText = '';\nlet risk = 'UNKNOWN';\n\nif (match) {\n  rawText = match[1];\n  risk = match[1].toUpperCase();\n}\n\n// Save results\nitem.json.raw_risk_response = rawText;\nitem.json.risk_level = risk;\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        1184
      ],
      "id": "dacc0e73-79e1-4cc2-aa83-921aa7129498",
      "name": "organization1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7e8e19f-9e0a-4c0e-b522-b09583d122df",
              "name": "comfyui_prompt",
              "value": "MEME STYLE. GREEN SAFETY, CLEAN,",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        1680
      ],
      "id": "69cd6972-6861-47ef-ac80-f8b947c8fbab",
      "name": "green, safe1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ee5ad94-540c-4e6c-9f50-c57cf14784b4",
              "name": "comfyui_prompt",
              "value": "MEME STYLE red warning, DANGER, 3d render, dark background, 4k",
              "type": "string"
            },
            {
              "id": "7a950cf2-e060-4d0e-916d-67cc0e343d8d",
              "name": "risk_level",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        1232
      ],
      "id": "f16807d8-f5a1-434e-b7d1-f5459e44b7ab",
      "name": "red, danger1"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-4.0-generate-preview-06-06",
          "mode": "list",
          "cachedResultName": "models/imagen-4.0-generate-preview-06-06"
        },
        "prompt": "={{ $json.comfyui_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        1376
      ],
      "id": "91bc1c93-8ad0-4e15-96a0-5aad0ba534ab",
      "name": "Generate an image2",
      "credentials": {
        "googlePalmApi": {
          "id": "6FtxrsZVEtdAoaFk",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-4.0-fast-generate-001",
          "mode": "list",
          "cachedResultName": "models/imagen-4.0-fast-generate-001"
        },
        "prompt": "={{ $json.comfyui_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        1680
      ],
      "id": "c4cfdfbe-72cd-4f17-a22b-3447e5e9d390",
      "name": "Generate an image3",
      "credentials": {
        "googlePalmApi": {
          "id": "6FtxrsZVEtdAoaFk",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------------------------------------\n// 1. GET THE IMAGE (Handles Binary & JSON formats)\n// ---------------------------------------------------------\nconst item = $input.item;\nlet base64String = \"\";\n\n// CHECK 1: Is it in the \"Binary\" tab? (Standard for n8n Image Nodes)\n// n8n usually names the binary property 'data'\nif (item.binary && item.binary.data) {\n    base64String = item.binary.data.data;\n}\n// CHECK 2: Is it in the JSON 'base64' field?\nelse if (item.json.base64) {\n    base64String = item.json.base64;\n}\n// CHECK 3: Is it nested in 'predictions' (HTTP Request method)?\nelse if (item.json.predictions && item.json.predictions[0]) {\n    base64String = item.json.predictions[0].bytesBase64Encoded;\n}\n\n// If we still have nothing, use a transparent placeholder so the report doesn't break\nif (!base64String) {\n    base64String = \"iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=\";\n}\n\n// ---------------------------------------------------------\n// 2. GET THE TEXT DATA (Risk Score & Analysis)\n// ---------------------------------------------------------\nlet riskData = {};\n\ntry {\n    // Attempt to grab text data from the 'Merge' node\n    // MAKE SURE YOUR MERGE NODE IS NAMED 'Merge'\n    riskData = $('Merge1').first().json;\n} catch (e) {\n    // Fallback: use current JSON if Merge lookup fails\n    riskData = item.json;\n}\n\n// Clean up Perplexity analysis\nconst analysisText = (riskData.explanation || riskData.choices?.[0]?.message?.content || \"Analysis pending...\").replace(/\\n/g, '<br>');\n\n// ---------------------------------------------------------\n// 3. GENERATE HTML\n// ---------------------------------------------------------\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Segoe UI', sans-serif; background: #f8fafc; color: #334155; padding: 40px; }\n    .container { max-width: 700px; margin: 0 auto; background: white; border-radius: 12px; box-shadow: 0 10px 25px -5px rgba(0,0,0,0.1); overflow: hidden; }\n    .header { \n      background: ${riskData.risk_level === 'LOW' ? '#10b981' : '#ef4444'}; \n      padding: 30px; text-align: center; color: white; \n    }\n    .badge { background: rgba(0,0,0,0.2); padding: 5px 15px; border-radius: 20px; font-weight: bold; font-size: 14px; }\n    .visual-box { text-align: center; padding: 30px; background: #f1f5f9; }\n    \n    /* Image Styling */\n    img { \n      width: 300px; height: 300px; object-fit: cover; border-radius: 12px; \n      box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1); border: 4px solid white;\n    }\n    \n    .content { padding: 30px; }\n    .analysis-box { background: #f8fafc; border-left: 4px solid #cbd5e1; padding: 15px; margin-top: 10px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Threat Assessment</h1>\n      <span class=\"badge\">RISK: ${riskData.risk_level || \"UNKNOWN\"}</span>\n    </div>\n\n    <div class=\"visual-box\">\n      <!-- The Image Source -->\n      <img src=\"data:image/png;base64,${base64String}\" alt=\"AI Visual\">\n    </div>\n\n    <div class=\"content\">\n      <h3>🛡️ Expert Analysis</h3>\n      <div class=\"analysis-box\">${analysisText}</div>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn { html_content: html };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1568
      ],
      "id": "66f6d5a2-f50a-4baa-b0dc-f4d15dfae357",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2000,
        1568
      ],
      "id": "b0712a42-42f5-403e-9735-f1135de72379",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen3:8b"
            },
            {
              "name": "prompt",
              "value": "={{\n  `You are a cybersecurity classifier.\n\nRead the following email and classify its phishing risk as exactly ONE of:\nLOW\nMEDIUM\nHIGH\n\nYou MUST respond ONLY with a single JSON object in this exact format:\n\n{\"risk_level\": \"LOW\"}\n\nAllowed values for \"risk_level\": \"LOW\", \"MEDIUM\", \"HIGH\".\nDo NOT include any other text, explanation, or fields outside this JSON.\n\nEMAIL CONTENT:\nFrom: ${$json.body.sender ?? \"\"}\nSubject: ${$json.body.subject ?? \"\"}\nHeaders: ${$json.body.headers ?? \"\"}\n\nBody:\n${$json.body.body ?? \"\"}`\n}}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "95cfa4d4-2231-4852-9b2f-5c2e720c1905",
      "name": "Local LLM (OLLAMA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        464,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  // Convert the entire email body object into a text block\n  item.json.email_text = JSON.stringify(item.json.body, null, 2);\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        992
      ],
      "id": "6237e15f-46e5-4782-b7c1-592dbdc56dd1",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "model": "sonar-reasoning-pro",
        "messages": {
          "message": [
            {
              "content": "You are a cybersecurity expert. You analyze emails for phishing risk.\n",
              "role": "system"
            },
            {
              "content": "={{\n`Analyze the following email and explain in 3 bullet points why it may be safe or suspicious.\n\nFrom: ${$json.body.sender ?? \"\"}\n\nSubject: ${$json.body.subject ?? \"\"}\n\nHeaders: ${$json.body.headers ?? \"\"}\n\nBody:\n${$json.body.body ?? \"\"}`\n}}\n"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        352,
        1568
      ],
      "id": "fe33dafb-e96c-41b0-8633-ddb8eea4558d",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "ywRw9lqs45mQvbsT",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Entry1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "red, danger1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "green, safe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "organization1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "green, safe1": {
      "main": [
        [
          {
            "node": "Generate an image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "red, danger1": {
      "main": [
        [
          {
            "node": "Generate an image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image3": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local LLM (OLLAMA)": {
      "main": [
        [
          {
            "node": "organization1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Local LLM (OLLAMA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "50040d36-a949-4ea1-8835-7128fe382239",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bd7fa5ef43190bffbae13b92344df1ad1f11b0312cc60fc6e3947319532582a"
  },
  "id": "sia3rgdilVxl2Urc",
  "tags": []
}